<nav class="navbar navbar-expand-md bg-primary navbar-dark sticky-top">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/#yourBlended">מה הבלנד שלך?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#forum">פורום בלנדד</a>
      </li>
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          איך עושים בלנדד
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/models">מודלים</a>
          <a class="dropdown-item" href="/casestudy">מקרי בוחן</a>
          <a class="dropdown-item" href="/experts">מומחי תוכן</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tools">כלים ויישומונים</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#aboutUs">אודות</a>
      </li>
    </ul>
  </div>
</nav>
