<section class="row" id="aboutUs">
  <br />
  <div class="row marginCenter">
    <div class="col-md-6">
      <h3
        style="
          padding-right: 15%;
          background: none;
          color: black;
          font-size: 6vh;
          font-weight: bolder;
        "
      >
        אודותינו
      </h3>
      <h5 style="text-align: center !important;">יוצרים</h5>
      <br />
      <br />
      <div class="row">
        <div class="col-md-6" style="text-align: center !important; margin-top: 2%;">
          <img src="/images/alex.png" class="mid-icon" alt="אלכס גולברג" />
          <br />
          אלכס גולברג
          <br />
          shvedbook@gmail.com
        </div>

        <div class="col-md-6" style="text-align: center !important; margin-top: 2%;">
          <img src="/images/or.png" class="mid-icon" alt="אור אסם-נוסבאום" />
          <br />
          אור אסם-נוסבאום
          <br />
          or@campus.gov.il
        </div>
      </div>
    </div>
    <div class="col-md-6 alignCenter">
      האתר נבנה כחלק מקורס "תכנות 3", בהנחיית ד"ר דן כהן-וקס והגברת רעות בכר.
      <br />
      האתר מהווה חלק עיקרי בפורייקט הגמר שלנו, בפקולטה לטכנולוגיות למידה, המכון הטכנולוגי חולון
      <br />
      בהנחיית ד"ר רונן האמר ומוטי אלנקוה עבור "קמפוס"
      <br />
      <br />
      <br />
      <div class="row">
        <div class="col-6">
          <a href="https://www.hit.ac.il">
            <img class="logo-icon" src="/images/hit1.png" alt="המכון הטכנולוגי חולון"
          /></a>
        </div>
        <div class="col-6">
          <a href="https://campus.gov.il/en/">
            <img class="logo-icon" src="/images/campus1.png" alt="קמפוס - מיזם הלמידה הדיגיטלית"
          /></a>
        </div>
      </div>
    </div>
  </div>

  <br />
</section>
<hr />
