<section class="row onmobilehidden">
    <div class="col-md-12">
      <h3>איך עושים בלנדד?</h3>
    </div>
    <div class="col-md-4">
      <a href="models">
        <img  alt="models" src="/images/models.png" class="big-icon" >
      
      <h4><a href="models">מודלים</a></h4>

      <p>
        <a class="pInA" href="models">
          בואו להכיר את המודלים הראשיים של הבלנדד. איך הם עובדים, למי הם מתאים ועוד...
        </a>
      </p>
    </div>
    <div class="col-md-4">
      <img src="/images/casestudies.png" class="big-icon" />
      <h4><a href="casestudy">מקרי בוחן</a></h4>
      <p>
        <a class="pInA" href="casestudy"
          >בואו לראות דוגמאות לשילוב של מודלים של בלנדד בהוראה והדרכה, דוגמאות להצלחות וכישלונות,
          מסכנות ועוד...</a
        >
      </p>
    </div>
    <div class="col-md-4">
      <img src="/images/exprets.png" class="big-icon" />
      <h4><a href="experts">מומחי תוכן</a></h4>
      <p>
        <a class="pInA" href="experts"
          >בואו לשמע את העמדות, הדעות והעצות של מומחי התוכן מהגדולים בתחום.</a
        >
      </p>
    </div>
  </section>
  <hr />
  <div class="ondeskhidden">
    <div id="indexMobileCarousel" class="carousel slide" data-ride="carousel" data-interval="false" direction="left">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="/models">
                <img src="/images/modelsMobile.png" style="width: 100%;"><br/>
                <h2 style="color: black;">מודלים</h2>
         </a>
          </div>
          
            <div class="carousel-item">
                <a href="/experts">
                    <img src="/images/expertsMobile.png" style="width: 100%;"><br/>
                    <h2 style="color: black;">מומחי תוכן</h2>
             </a>
              </div>
          
          
            <div class="carousel-item">
                <a href="/casestudies">
                    <img src="/images/casestudiesMobile.png" style="width: 100%;"><br/>
                    <h2 style="color: black;">מקרי בוחן</h2>
             </a>
              </div>
          
        </div>
      
      </div>
  </div>
  <img class="ondeskhidden" src="/images/mobileBackground.png" style="width: 100%;" />
