<span id="#howToBlend"></span>
  <hr />
  
<% var bgcolor = ["blue","yellow","green"]
var colorIndex = 0;
%> 
  <div class="container-fluid modelsPlate marginCenter col-md-6">
    <h2 class="marginCenter alignCenter col-8">מודלים ללמידה מעורבת</h2>
    <p class="alignCenter"><br/>
      הכירו את דגמי הלמידה המעורבת של <b>קמפוס IL</b>, שמעו מהמומחים בתחום וצפו בדוגמאות מהשטח</p>
    <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4">
			<% modelsData.forEach(function (model) {%>
        <a href="/models/<%=model.id%>">
			<div class="col-8">
				<div class="card card-block bc-<%=bgcolor[colorIndex]%>  padding100 alignCenter">
          <h3 style="background: none"><%=model.name%></h3>
          
        </div>
      </div>
    </a>
    <% colorIndex++;
    if(colorIndex >2 ){
      colorIndex = 0 ;
    } %> 
      <% })%>
  
    </div>
</div>

  </div>
  <img class="ondeskhidden" src="/images/mobileBackground.png" style="width: 100%;" />
