<!-- model 1-->
<div class="row models" id="Face-To-Face">
  <div class="col-md-9">
    <h3>מודל המורה המנווט פנים מול פנים</h3>
    <p>
      (Face-To-Face Driver Model) המודל הכי קרוב לצורת הלמידה המסורתית. במודל זה רוב הכיתה לומדת עם
      המורה כאשר רק תלמידים מסוימים מתקדמים בקצב שלהם בעזרת שימוש בעזרים טכנולוגיים בחלקה האחורי של
      הכיתה או במעבדת מחשבים מיוחדת.
    </p>
    <div class="row">
      <div class="col-md-6">
        <h4>מקרי בוחן</h4>
        <ul>
          <li><a href="casestudy.html#case1">לימוד מדעי המחשב בבית ספר תיכון בכפר קנע</a></li>
          <li><a href="casestudy.html#case2">הדרכה למדריכי צופים - צופי יפו</a></li>
          <li>
            <a href="casestudy.html#case3">כלכלה בקטנה - קורס למתמנים לג'ובים במשרד הכלכלה</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <h4>מומחי תוכן</h4>
        <ul>
          <li>
            <a href="experts.html#expert1">ד"ר מומחה תוכן - מספר על איך היה בלב בלב הלהלה ל</a>
          </li>
          <li>
            <a href="experts.html#expert2">פרופסור מומחה תוכן - מספר על איך היה בלב בלב הלהלה ל</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <img class="big-pic" src="/images/model1.png" />
  </div>
  <span id="forlink2"></span>
</div>
<hr />
