<section id="blendedSystem" class="row item" aos="zoom-in">
  
  <div class="ondeskhidden mobileBtn" style="padding-right: 25%;">
    <a href="#blendedSystem"
      ><button type="button" class="btn btn-primary col-md-2">
        התאימו את ההוראה שלכם
      </button>
    </a>
  </div>
  <div class="col-md-12 row blendedSystemBg">
   
    <div class="col-md-8" style="padding:3%">
      <h2>מצאו את מודל ההוראה המוערבת שמתאים לכם</h2>
    <p>
      ספרו לנו איך נראה תרחיש ההוראה שלכם, ואנחנו כבר נמצא לכם מודל "Blended" מתאים.
    </p>
    </div>

    <div class="row onmobilehidden col-md-12" style="text-align: center;">
      <div class="col-md-2">
        <b>תכנים</b>
      </div>
      <div class="col-md-2">
        <b>מודל פדגוגי</b>
      </div>
      <div class="col-md-2">
        <b>הקיף מפגשים</b>
      </div>
      <div class="col-md-2">
        <b>אוריינות דגטלית</b>
      </div>
      <div class="col-md-2">
        <b>משאבים קיימים</b>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row col-md-12">
      
      <div class="col-md-2">
        <b class="ondeskhidden">תכנים</b>
        <select class="custom-select" id="inputGroupSelect01">
          <option selected value="0">בחר</option>
          <option value="1">אוריינות דיגיטלית</option>
          <option value="2">שפה</option>
          <option value="3">קורסי העשרה</option>
          <option value="4">הכנה לשוק העבודה</option>
          <option value="5">הכשרה מקצועית</option>
          <option value="6">פיתוח מקצועי</option>
          <option value="7">מעבר מבחן</option>
          <option value="8">קבלת תעודה</option>
        </select>
      </div>
      <div class="col-md-2">
        <b class="ondeskhidden">מודל פדגוגי</b>
        <select class="custom-select" id="inputGroupSelect02">
          <option selected value="0">בחר</option>
          <option value="1">הנחייה צמודה</option>
          <option value="2">למידה בזוגות</option>
          <option value="3">קבוצה קטנה</option>
          <option value="4">כיתה גדולה</option>
          <option value="5"> לומדים עצמאית מהבית</option>
        </select>
      </div>
      <div class="col-md-2">
        <b class="ondeskhidden">הקיף מפגשים</b>
        <select class="custom-select" id="inputGroupSelect03">
          <option selected value="0">בחר</option>
          <option value="1">4-5 פעמים בשבוע</option>
          <option value="2">2-3 פעמים בשבוע</option>
          <option value="3">פעם בשבוע</option>
        </select>
      </div>
      <div class="col-md-2">
        <b class="ondeskhidden">רמת אוריינות דגטלית</b>
        <select class="custom-select" id="inputGroupSelect04">
          <option selected value="0">בחר</option>
          <option value="1">נמוכה</option>
          <option value="2">בינונית</option>
          <option value="3">גבוהה</option>
        </select>
      </div>
      <div class="col-md-2">
        <b class="ondeskhidden">משאבים קיימים</b>
        <select class="custom-select" id="inputGroupSelect05">
          <option selected value="0">בחר</option>
          <option value="1">כיתת לימוד עם כיתת לימוד עם מחשבים / בלי מחשב בבית</option>
          <option value="2">כיתת לימוד בלי מחשבים/ עם מחשב בבית</option>
          <option value="3">כיתת לימוד עם מחשבים / עם מחשב בבית</option>
        </select>
      </div>
      <div class="col-md-2">
        <button id="sendBtn" type="button" class="btn btn-primary col-12" disabled>
          מצא לי מודל
        </button>
      </div>
    </div>
  </div>

  <div id="aiAnswer">
    
    <div id="blendedAnsNone" style="padding: 5% ;">
      <p>
        <h3>לא נמצאו תוצאות מתאימות עבורכם<br />אתם מוזמנים לעיין ברשימת המודלים הקיימים</h2>
      </p>
      <a href="#howToBlend">
      <div class="mobileBtn">
        <button  type="button" class="btn btn-primary col-12" >
          למעבר לדף מודלים
        </button>
      </div>
    </a>
    </div>
  </div>
  <br />
  <br />
  <div id="facetoface" style="display: none;">
    <br/>
    <br/>
    <%-include(`./modelAns/facetoface`) %>
  </div>
  <div id="kvuzatImun" style="display: none;">
    <br/>
    <br/>
    <%-include(`./modelAns/kvuzatimun`) %>
  </div>
  <div id="kitaafuha" style="display: none;">
    <br/>
    <br/>
    <%-include(`./modelAns/kitaafuha`) %>
  </div>
  <div id="onlineblend" style="display: none;">
    <br/>
    <br/>
    <%-include(`./modelAns/onlineblend`) %>
  </div>
  
</section>
<hr class="ondeskhidden"/>
