<section class="row" id="tools">
  <div class="col-md-6" style="text-align: center;">
    <p style="margin-right: 5%; font-size: large; padding: 25%;">
      הכירו את הכלים והיישומונים שישדרגו לכם את שיעור הבלנדד
    </p>
  </div>

  <div class="col-md-6">
    <div class="col-md-10 marginCenter">
      <div class="container-fluid" style="text-align: center;">
        <h2 style="margin: 0 auto;">כלים ויישומונים</h2>
        <div class="scrolling-wrapper col-12 row flex-row flex-nowrap mt-4 pb-4">
          <% for(i=0; i<3; i++) {%>

          <div class="col-10 boxShadow">
            <div class="card card-block bc-grey padding3">
              <h5>BeeTime</h5>
              <img src="/images/beetime.png" alt="picture of instuctors" />

              <p>מערכת BeeTime היא מתערכת אינטראקטיבית המאפשרת ללומדים בכיתה למידה:</p>
              <a href="/tools">למידע נוסף אודות המערכת..</a>
            </div>
          </div>
          <% }%>
        </div>
      </div>
    </div>
  </div>

  <br />
</section>
<hr />
