<div
  style="
    margin-top: 5%;
    padding-top: 3%;
    text-align: center;
    background-color: white;
    background-image: url(/images/highshadow.svg);
    background-repeat: no-repeat;
  "
>
  <div class="roundedH2 col-3"><h2>משאבי למידה ותוצרים</h2></div>
  <br />
  <p>מצאו משאבי למידה לפי המודל המתאים לכם</p>
  <a class="ondeskhidden" style="color: black; margin-bottom: 5%;" href="/products">לחצו כאן</a>
</div>
<div class="row onmobilehidden" style="margin-bottom: 5%;">
  <div class="col-3"></div>
  <div class="col-6 row" style="text-align: center; color: black;">
    <div class="col-md-3" style="border-left: 3px solid #646464;">
      <a style="color: black;" href="/products#facetoface">מודל תיוך ישיר</a>
    </div>
    <div class="col-md-3" style="border-left: 3px solid #646464;">
      <a style="color: black;" href="/products#kvuzatImun">קבוצת אימון</a>
    </div>
    <div class="col-md-3" style="border-left: 3px solid #646464;">
      <a style="color: black;" href="/products#onlineblend">Online Blend</a>
    </div>
    <div class="col-md-3">
      <a style="color: black;" href="/products#kitaAfuha">כיתה הפוכה</a>
    </div>
  </div>
  <div class="col-3"></div>
</div>
<br />
<hr class="ondeskhidden" />
