<div style="margin: 5% auto; text-align: center;">
  <h3
    style="
      font-size: 4vh;
      line-height: 0.4;
      background: none;
      border-bottom: #6bbbc7 solid 1vh;
      border-radius: 0px;
      color: black;
      padding: 5%;
    "
  >
    משאבי למידה ותוצרים
  </h3>
  <br />
  <a class="ondeskhidden" style="color: black; margin-bottom: 10%;" href="/products">לחצו כאן</a>
</div>
<div class="row onmobilehidden" style="margin-bottom: 10%;">
  <div class="col-2"></div>
  <div class="col-8 row" style="text-align: center; font-size: 2.5vh; color: black;">
    <div class="col-md-3" style="border-left: 3px solid #646464;">
      <a style="color: black;" href="/products#facetoface">מודל תיוך מלא</a>
    </div>
    <div class="col-md-3" style="border-left: 3px solid #646464;">
      <a style="color: black;" href="/products#kvuzatImun">קבוצת אימון</a>
    </div>
    <div class="col-md-3" style="border-left: 3px solid #646464;">
      <a style="color: black;" href="/products#onlineblend">onlineBlend</a>
    </div>
    <div class="col-md-3">
      <a style="color: black;" href="/products#kitaAfuha">כיתה הפוכה</a>
    </div>
  </div>
  <div class="col-2"></div>
</div>
<br />
<hr class="ondeskhidden" />
