<div class="row onmobilehidden">
  <div class="col-md-6 bc-grey paded-div">
    <h2>
      מהי למידה מעורבת?
    </h2>
    <p>
      למידה מעורבת (Blended Learning) היא למידה המשלבת הדרכה פנים מול פנים והדרכה מקוונת (Graham,
      2013)
    </p>
    <p>
      למידה מעורבת מוצלחת נמדדת ביכולתה לייצר שילוב אפקטיבי של הדרכ מקוונת ופרונטלית, שילוב המתקיים
      במרחב נפרד משתי צורות ההדרכה, לעומת חיבורן יחד. תהליך למידה מוצלח מחייב ארגון מחדש של אופן
      ההוראה בהתאם למאפיינים משתנים, שעד עתה לא נחשבו כרלוונטיים כמו אוריינות דיגיטלית, משמעת
      ומשאבים טכנולוגיים (Kanuka&Garrison, 2004).
    </p>
    <p>
      להתפתחות מואצת של הלמידה המעורבת השפעה ניכרת על היכולת להגדירה בצורה חד משמעית. חלק גדול
      מהמחקרים הנוכחיים על למידה זו מתמקדים בנסיון לתאר אותה ואת גבולותיה. מודלים חדשים נמצאים היום
      בפיתוח ו/או הטמעה ראשונית, בכך נוצר קושי בביסוס קונצנזוס סביב למידה מעורבת, חוזקותיה
      ומגבלותיה.
    </p>
    <p>
      בפורטל זה נציג מספר מודלים מבוססי דוגמאות למידה מעורבת מתוך אסופת מודלים ללמידה מעורבת של
      קמפוסIL, ונפרט על מאפייני הלמידה המתאימים לכל מודל.
    </p>
  </div>
  <div class="col-md-6 bc-blue paded-div">
    <h3>
      יתרונות
    </h3>
  </div>
</div>
<div class="ondeskhidden">
  <h2>
    מהי למידה מעורבת?
  </h2>
  <div class="bc-blue mobilepadding" style="color: white; font-weight: 800; font-size: 16pt;">
    למידה מעורבת (Blended Learning) היא למידה המשלבת הדרכה פנים-אל-פנים והדרכה מקוונת (Graham,
    2013).
  </div>
  <br />
  <div class="bc-grey mobilepadding" style="font-size: 16pt; font-weight: 800;">
    למידה מעורבת <span style="color: #90c553;">מוצלחת</span> נמדדת ביכולתה לייצר שילוב אפקטיבי של
    הדרכה מקוונת ופרונטלית, שילוב המתקיים במרחב נפרד משתי צורות ההדרכה, לעומת חיבורן יחד.
  </div>
  <img class="ondeskhidden" src="images/blendedpic.png" style="width: 100%;" />

  <div class="bc-grey mobilepadding" style="font-size: 16pt; font-weight: 800;">
    תהליך למידה מוצלח מחייב ארגון מחדש של אופן ההוראה בהתאם למאפיינים משתנים, שעד עתה לא נחשבו
    כרלוונטיים, כמו: אוריינות דיגיטלית, משתנים
  </div>
</div>
<img class="ondeskhidden" src="images/mobileBackground.png" style="width: 100%;" />
