<div class="col-md-12">
  <p class="col-md-6 larger marginCenter" style="text-align: center; padding-top: 3%;">
    פורטל "מְעַרְבְּבִים" הוקם במטרה לספק לכם תכני Blended מעניינים, מונגשים ומותאמים לתרחישי ההוראה
    שלכם, ולעזור לכם להפוך שיעור Blended לחוויה חיובית ואפקטיביט.
  </p>
  <br />
  <br />
  <br />
</div>
<div class="row onmobilehidden">
  <div class="col-md-6 paded-div">
    <h2>
      מהי למידה מעורבת?
    </h2>
    <p>
      <b>למידה מעורבת (Learning Blended)</b> היא למידה המשלבת הדרכה פנים-אל-פנים והדרכה מקוונת (2013
      ,Graham).
    </p>
    <p>
      <b style="color: #90c553;">למידה מעורבת מוצלחת</b> נמדדת ביכולתה לייצר שילוב אפקטיבי של הדרכה
      מקוונת ופרונטלית, שילוב המתקיים במרחב נפרד משתי צורות ההדרכה, לעומת חיבורן יחד.
    </p>
    <p>
      תהליך למידה מוצלח מחייב ארגון מחדש של אופן ההוראה בהתאם למאפיינים משתנים, שעד עתה לא נחשבו
      כרלוונטיים, כמו: אוריינות דיגיטלית, משמעת ומשאבים טכנולוגים.
    </p>
  </div>
  <div class="col-md-6 paded-div">
    <img src="/images/blendedpic.png" style="width: 100%;" />
  </div>
</div>
<div class="ondeskhidden">
  <h2>
    מהי למידה מעורבת?
  </h2>
  <div class="bc-blue mobilepadding" style="color: white; font-weight: 800; font-size: 16pt;">
    למידה מעורבת (Blended Learning) היא למידה המשלבת הדרכה פנים-אל-פנים והדרכה מקוונת (Graham,
    2013).
  </div>
  <br />
  <div class="bc-grey mobilepadding" style="font-size: 16pt; font-weight: 800;">
    למידה מעורבת <span style="color: #90c553;">מוצלחת</span> נמדדת ביכולתה לייצר שילוב אפקטיבי של
    הדרכה מקוונת ופרונטלית, שילוב המתקיים במרחב נפרד משתי צורות ההדרכה, לעומת חיבורן יחד.
  </div>

  <div class="bc-grey mobilepadding" style="font-size: 16pt; font-weight: 800;">
    תהליך למידה מוצלח מחייב ארגון מחדש של אופן ההוראה בהתאם למאפיינים משתנים, שעד עתה לא נחשבו
    כרלוונטיים, כמו: אוריינות דיגיטלית, משתנים
  </div>
</div>
<img class="ondeskhidden" src="/images/mobileBackground.png" style="width: 100%;" />
