<div class="col-md-12" style="text-align: center; padding-top: 3%;">
  <p class="col-md-6 marginCenter whatIs">
    פורטל "מְעַרְבְּבִים" הוא שער הכניסה לעולם ההוראה המעורבת ומכיל מידע על 4 מודלים של הוראה מסוג
    זה. מטרתנו היא לעזור לכם - מדריכים, מורים ומפתחי למידה, למצוא את מודל ההוראה המעורבת שמתאים לכם,
    לפי מאפייני ההוראה שלכם
  </p>
  <br />
</div>
<div class="row onmobilehidden">
  <div class="col-md-6 paded-div">
    <h2>
      הוראה בעולם של למידה מעורבת
    </h2>

    <p>
      למידה מעורבת (Blended learning) היא למידה שמשלבת תוכן מקוון עם למידה עצמית וקבוצתית. למידה
      מסוג זה מתפרשת על שלושה צירים - זמן, מרחב והרכב חברתי:
    </p>
    <ul>
      <li>
        זמן - למידה סינכרונית ואסינכרונית
      </li>
      <li>
        מרחב - למידה פיזית מול מקוונת
      </li>
      <li>
        הרכב חברתי - למידה חברתית מול יחידנית
      </li>
    </ul>
    <p>
      <b style="color: #90c553;">הוראה מוצלחת בעולם של למידה מעורבת</b> נמדדת ביכולתה לייצר שילוב
      אפקטיבי של הדרכה מקוונת ופרונטלית, ליווי המתאים לצרכי הלומד והתאמת הכלים הפדגוגים והטכנולוגיים
      למאפייני אוכלוסיית היעד, כגון: רמת האוריינות הדיגיטלית, רמת המחויבות והמשמעת עצמית והגישה
      למשאבים טכנולוגים.
    </p>
  </div>
  <div class="col-md-6 paded-div">
    <img src="/images/onlinevsnormal.png" style="width: 70%; margin-right: 15%;" />
  </div>
</div>
<div class="ondeskhidden">
  <h2>
    הוראה בעולם של למידה מעורבת
  </h2>
  <div class="bc-blue mobilepadding" style="color: white; font-weight: 400; font-size: 16pt;">
    למידה מעורבת (Blended learning) היא למידה שמשלבת תוכן מקוון עם למידה עצמית וקבוצתית. למידה מסוג
    זה מתפרשת על שלושה צירים - זמן, מרחב והרכב חברתי:
  </div>
  <br />
  <div class="bc-grey mobilepadding" style="font-size: 18pt; font-weight: 400;">
    <ul>
      <li>
        זמן - למידה סינכרונית ואסינכרונית
      </li>
      <li>
        מרחב - למידה פיזית מול מקוונת
      </li>
      <li>
        הרכב חברתי - למידה חברתית מול יחידנית
      </li>
    </ul>
  </div>

  <div class="bc-grey mobilepadding" style="font-size: 16pt; font-weight: 200;">
    <p>
      <b style="color: #90c553;">הוראה מוצלחת בעולם של למידה מעורבת</b> נמדדת ביכולתה לייצר שילוב
      אפקטיבי של הדרכה מקוונת ופרונטלית, ליווי המתאים לצרכי הלומד והתאמת הכלים הפדגוגים והטכנולוגיים
      למאפייני אוכלוסיית היעד, כגון: רמת האוריינות הדיגיטלית, רמת המחויבות והמשמעת עצמית והגישה
      למשאבים טכנולוגים.
    </p>
  </div>
</div>
<img class="ondeskhidden" src="/images/mobileBackground.png" style="width: 100%;" />
