<div class="row whyBlend paded-div" style="padding-top: 0;">
  <div class="col-md-4 twoCirclesBg onmobilehidden"></div>
  <div class="col-md-8">
    <h2>למה הוראה מעורבת?</h2>
    <ul>
      <li>
        <b>מענה לבדידות הלומד בעולם המקוון</b> - מאפשרת לתלמידים ללמוד יחד ולחלוק תהיות ותובנות בינם
        לבין עצמם ובינם לבין המרצה.
      </li>
      <li><b>עושר פדגוגי</b> - חשיפה למגוון של שיטות פדגוגיות חדשות.</li>
      <li>
        <b>מסגרת לימודים גמישה</b> - היכולת לשנות את הרכב ומבנה השיעור לפי הצרכים של התלמידים.
      </li>
      <li>
        <b>גישה לידע</b> - מאפשרת לתלמידים גישה לידע רב יותר ולמגוון גדול יותר של דוגמאות לחומר
        הנלמד.
      </li>
      <li>
        <b>התאמת אופן הלמידה ללומד</b> - מאפשרת ללומדים לבחור את הזמן, המקום וקצב הלמידה שלהם.
      </li>
    </ul>
  </div>
</div>
