<div class="row whyBlend paded-div" style="padding-top: 0;">
  <div class="col-md-4 twoCirclesBg onmobilehidden"></div>
  <div class="col-md-8">
    <h2>למה למידה מעורבת?</h2>
    <ul>
      <li>
        עושר פדגוגי - מאפשר למורים לגוון בשיטות הפדגוגיות שהם משתמשים בהן
      </li>
      <li>
        גמישות - מאפשר למורה לשנות את הרכב ומבנה השיעור לפי הצרכים של התלמידים
      </li>
      <li>
        גישה לידע - מאפשר לתלמידים גישה לידע רב יותר ולמגוון גדול יותר של דוגמאות לחומר הנלמד
      </li>
      <li>
        אינטראקציה חברתית- מאפשר לתלמידים לחלוק שאלות, תהיות ותובנות בינם לבין עצמם ובינם לבין
        המרצה. התלמידים מנהלים אינטראקציה הן פנים מול פנים והן באופן מקוון
      </li>
      <li>
        פיתוח תחושת שליטה אצל התלמיד- מאפשר להרחיב את אפשרויות הבחירה האישית שניתנות לתלמידים.
      </li>
    </ul>
  </div>
</div>
