<div class="row">
  <div class="col-md-6">
    <h2><%= havrutaModelData.name %></h2>
    <p><%= havrutaModelData.story %></p>
    <a href="/models#havruta">למידע נוסף...</a>
  </div>
  <div class="col-md-6 feedback">
    <%- include('../feedback.ejs') %>
  </div>
</div>
