<div class="row">
  <div class="col-md-6">
    <h2><%= kvuzatImunModelData.name %></h2>
    <p><%= kvuzatImunModelData.story %></p>
    <a href="/models#kvuzatImun">למידע נוסף...</a>
  </div>
  <div class="col-md-6 feedback">
    <%- include('../feedback.ejs') %>
  </div>
</div>
