<div class="row">
  <div class="col-md-6">
    <h2><%= tivuhModelData.name %></h2>
    <p><%= tivuhModelData.story %></p>
    <br />
    <a href="/models#tivuh-male">למידע נוסף...</a>
  </div>
  <div class="col-md-6 feedback">
    <%- include('../feedback.ejs') %>
  </div>
</div>
