<!DOCTYPE html>
<html lang="he">
  <head>
    <meta charset="utf-8" />
    <title>מקרי בוחן</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />

    <!-- CSS -->
    <link href="bootstrap/css/bootstrap-reboot.css" rel="stylesheet" />
    <link href="bootstrap/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet" />

    <link href="styles/myStyle.css" rel="stylesheet" />

    <!-- Scripts -->
    <script
      type="text/javascript"
      src="https://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"
    ></script>
    <script type="text/javascript" src="json.json"></script>
    <script src="jScripts/jquery-1.12.0.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="jScripts/JavaScript.js"></script>
  </head>
  <body>
    <div id="container" class="container">
      <div id="headerLogo">
        <h1><a href="index.html" style="font-size: 48pt;">מְעַרְבְּבִים</a></h1>
        <p>הדרך הנכונה לשלב למידה מעורבת</p>
      </div>

      <nav class="navbar navbar-expand-md bg-primary navbar-dark sticky-top">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#collapsibleNavbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="index.html#yourBlended">מה הבלנד שלך?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/index.html#forum">פורום בלנדד</a>
            </li>
            <!-- Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                איך עושים בלנדד
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="models.html">מודלים</a>
                <a class="dropdown-item" href="casestudy.html">מקרי בוחן</a>
                <a class="dropdown-item" href="experts.html">מומחי תוכן</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="tools.html">כלים ויישומונים</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.html#aboutUs">אודות</a>
            </li>
          </ul>
        </div>
      </nav>

      <hr />
      <h2>מקרי בוחן</h2>
      <hr />
      <!-- [REST OF YOUR PAGE] -->
      <!-- all models -->
      <!-- case study 1-->
      <div class="row" id="case1">
        <div class="col-md-9">
          <h3>לימוד מדעי המחשב בבית ספר תיכון בכפר קנע</h3>
          <p>
            לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית הועניב היושבב שערש שמחויט - שלושע
            ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי
            שהכים תוק, הדש שנרא התידם הכייר וק.
          </p>
          <p>
            ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה - לתכי
            מורגם בורק? לתיג ישבעס.
          </p>
          <div class="row">
            <div class="col-md-6">
              <h4>מודלים מוזכרים:</h4>
              <ul>
                <li><a href="/models.html#forlink2">מודל הסבב</a></li>
                <li><a href="/models.html#forlink3">מודל גמיש</a></li>
              </ul>
            </div>
            <div class="col-md-6">
              <h4>מומחה תוכן:</h4>
              <ul>
                <li><a href="experts.html#expert1">ד"ר מומחה תוכן 1 - מרכז אקדמי שיבת הרופא</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <img class="big-pic" src="images/model1.png" />
        </div>
        <span id="forlink2"></span>
      </div>
      <hr />

      <!-- case study 2-->
      <div class="row" id="case2">
        <div class="col-md-9">
          <h3>הדרכה למדריכי צופים - צופי יפו</h3>
          <p>
            לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית הועניב היושבב שערש שמחויט - שלושע
            ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי
            שהכים תוק, הדש שנרא התידם הכייר וק.
          </p>
          <p>
            ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה - לתכי
            מורגם בורק? לתיג ישבעס.
          </p>
          <div class="row">
            <div class="col-md-6">
              <h4>מודלים מוזכרים:</h4>
              <ul>
                <li><a href="/models.html#forlink2">מודל הסבב</a></li>
                <li><a href="/models.html#forlink3">מודל גמיש</a></li>
              </ul>
            </div>
            <div class="col-md-6">
              <h4>מומחה תוכן:</h4>
              <ul>
                <li><a href="experts.html#expert1">ד"ר מומחה תוכן 1 - מרכז אקדמי שיבת הרופא</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <img class="big-pic" src="images/model1.png" />
        </div>
        <span id="forlink2"></span>
      </div>
      <hr />

      <!-- case study 3-->
      <div class="row" id="case3">
        <div class="col-md-9">
          <h3>כלכלה בקטנה - קורס למתמנים לג'ובים במשרד הכלכלה</h3>
          <p>
            לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית הועניב היושבב שערש שמחויט - שלושע
            ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי
            שהכים תוק, הדש שנרא התידם הכייר וק.
          </p>
          <p>
            ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה - לתכי
            מורגם בורק? לתיג ישבעס.
          </p>
          <div class="row">
            <div class="col-md-6">
              <h4>מודלים מוזכרים:</h4>
              <ul>
                <li><a href="/models.html#forlink2">מודל הסבב</a></li>
                <li><a href="/models.html#forlink3">מודל גמיש</a></li>
              </ul>
            </div>
            <div class="col-md-6">
              <h4>מומחה תוכן:</h4>
              <ul>
                <li><a href="experts.html#expert1">ד"ר מומחה תוכן 1 - מרכז אקדמי שיבת הרופא</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <img class="big-pic" src="images/model1.png" />
        </div>
        <span id="forlink2"></span>
      </div>
      <hr />

      <!-- FOOTER -->
      <div class="row" id="footer">
        <a style="margin-right: auto; margin-left: auto;" href="index.html#aboutUs">
          <strong>פרוייקט מערבבים הוקם על ידי אור אסם ואלכס מHIT בשביל "קמפוס"</strong></a
        >
      </div>

      <button onclick="topFunction()" class="btn-outline-primary" id="goToTop" title="Go to top">
        חזרה להתחלה
      </button>
    </div>
  </body>
</html>
