<!-- [REST OF YOUR PAGE] -->
<hr />
<!-- all models -->
<div class="row">
  <div class="col-md-12" id="jg2bnduy">
    <h2>המודלים:</h2>
    <p>
      המודלים בבלנדד (הוראה מעורבת) יושבים על הספקטרום בין הוראה מקוונת גרידא לבין הוראה מסורתית
    </p>
  </div>
  <div class="col-md-6 timeLine" style="text-align: right !important;">
    <b>< </b>הוראה יותר מסורתית
  </div>
  <div class="col-md-6 timeLine" style="text-align: left !important;">
    הוראה יותר מקוונת<b> ></b>
  </div>
  <div style="width: 16.66%;">
    <a class="btn btn-outline-primary" href="/models.html#jg2bnduy" role="button">פנים מול פנים</a>
  </div>
  <div style="width: 16.66%;">
    <a class="btn btn-outline-primary" href="/models.html#forlink2" role="button">מודל הסבב</a>
  </div>
  <div style="width: 16.66%;">
    <a class="btn btn-outline-primary" href="/models.html#forlink3" role="button">המודל הגמיש</a>
  </div>
  <div style="width: 16.66%;">
    <a class="btn btn-outline-primary" href="/models.html#forlink4" role="button"
      >המודל המעבדה המקוונת</a
    >
  </div>
  <div style="width: 16.66%;">
    <a class="btn btn-outline-primary" href="/models.html#forlink5" role="button"
      >מודל המעורבות האישית</a
    >
  </div>
  <div style="width: 16.66%;">
    <a class="btn btn-outline-primary" href="/models.html#forlink6" role="button"
      >מנווט באופן מקוון</a
    >
  </div>
  <hr />
</div>
<%- include('./partials/carusel.ejs') %>

<!-- FOOTER -->
<%-include(`./partials/footer`) %>
