<!-- [REST OF YOUR PAGE] -->
<!-- all models -->
<!-- tool1-->
<div class="row" id="tool1">
  <div class="col-md-9">
    <h3>BeerTime</h3>

    <p>מערכת BeeTime היא מתערכת אינטראקטיבית המאפשרת ללומדים בכיתה למידה:</p>
    <p>
      ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה - לתכי מורגם
      בורק? לתיג ישבעס.
    </p>
    <div class="row">
      <div class="col-md-12">
        <h4>מודלים מתאימים:</h4>
        <ul>
          <li><a href="/models.html#StationRotation">מודל הסבב</a></li>
          <li><a href="/models.html#Flex-Model">מודל גמיש</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <img src="images/beetime.png" alt="picture of instuctors" />
  </div>
</div>
<hr />

<!-- tool2-->
<div class="row" id="tool2">
  <div class="col-md-9">
    <h3>BeerTime</h3>

    <p>מערכת BeeTime היא מתערכת אינטראקטיבית המאפשרת ללומדים בכיתה למידה:</p>
    <p>
      ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה - לתכי מורגם
      בורק? לתיג ישבעס.
    </p>
    <div class="row">
      <div class="col-md-12">
        <h4>מודלים מתאימים:</h4>
        <ul>
          <li><a href="/models.html#StationRotation">מודל הסבב</a></li>
          <li><a href="/models.html#Flex-Model">מודל גמיש</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <img src="images/beetime.png" alt="picture of instuctors" />
  </div>
</div>
<hr />
<!-- tool3-->
<div class="row" id="tool3">
  <div class="col-md-9">
    <h3>BeerTime</h3>

    <p>מערכת BeeTime היא מתערכת אינטראקטיבית המאפשרת ללומדים בכיתה למידה:</p>
    <p>
      ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה - לתכי מורגם
      בורק? לתיג ישבעס.
    </p>
    <div class="row">
      <div class="col-md-12">
        <h4>מודלים מתאימים:</h4>
        <ul>
          <li><a href="/models.html#StationRotation">מודל הסבב</a></li>
          <li><a href="/models.html#Flex-Model">מודל גמיש</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <img src="images/beetime.png" alt="picture of instuctors" />
  </div>
</div>
<hr />
<!-- tool4-->
<div class="row" id="tool4">
  <div class="col-md-9">
    <h3>BeerTime</h3>

    <p>מערכת BeeTime היא מתערכת אינטראקטיבית המאפשרת ללומדים בכיתה למידה:</p>
    <p>
      ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה - לתכי מורגם
      בורק? לתיג ישבעס.
    </p>
    <div class="row">
      <div class="col-md-12">
        <h4>מודלים מתאימים:</h4>
        <ul>
          <li><a href="/models.html#StationRotation">מודל הסבב</a></li>
          <li><a href="/models.html#Flex-Model">מודל גמיש</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <img src="images/beetime.png" alt="picture of instuctors" />
  </div>
</div>
<hr />
<!-- tool5-->
<div class="row" id="tool5">
  <div class="col-md-9">
    <h3>BeerTime</h3>

    <p>מערכת BeeTime היא מתערכת אינטראקטיבית המאפשרת ללומדים בכיתה למידה:</p>
    <p>
      ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה - לתכי מורגם
      בורק? לתיג ישבעס.
    </p>
    <div class="row">
      <div class="col-md-12">
        <h4>מודלים מתאימים:</h4>
        <ul>
          <li><a href="/models.html#StationRotation">מודל הסבב</a></li>
          <li><a href="/models.html#Flex-Model">מודל גמיש</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <img src="images/beetime.png" alt="picture of instuctors" />
  </div>
</div>
<hr />

<!-- FOOTER -->
<div class="row" id="footer">
  <a style="margin-right: auto; margin-left: auto;" href="index.html#aboutUs">
    <strong>פרוייקט מערבבים הוקם על ידי אור אסם ואלכס מHIT בשביל "קמפוס"</strong></a
  >
</div>
