<!-- [REST OF YOUR PAGE] -->
<!-- all models -->
<!-- tool1-->
<div class="row" id="tool1" style="margin: 5%;">
  <div id="BeeTime" class="col-md-6 row" style="padding: 5%;">
    <h2>Bee Time</h2>
    <div class="col-md-12">
      <img src="/images/beetime.png" alt="picture of instuctors" />
    </div>
    <p>מערכת BeeTime היא מתערכת אינטראקטיבית המאפשרת ללומדים בכיתה למידה:</p>
    <p>
      מערכת אינטראקטיבית המאופשרת ללומדים בכיתה:
    </p>
    <ul>
      <li>
        לענות על שאלות סקר
      </li>
      <li>
        לענות על בוחן עם רצף שאלות
      </li>
      <li>
        לבדוק אם הלומדים בכד או נגד נושא/היגד
      </li>
      <li>
        לכתוב באופן חופשי מה דעתם בנושא מסוים
      </li>
      <li>
        להשתתף בהגרלה משעשעת לביצוע משימות או השתתפות בכיתה
      </li>
    </ul>
    <a href=" http://new.methodic.co.il/wp-content/uploads/2019/03/BeeTime.pdf" target="_blank"
      >לפרטים נוספים</a
    >
  </div>
  <div id="PadLet" class="col-md-6 row">
    <h2>Padlet</h2>
    <div class="col-md-12" style="padding: 5%;">
      <img src="/images/padlet.png" alt="picture of instuctors" />
    </div>

    <p>
      כלי זה מאפשר שיתוף והצגת תכנים ויזואליים על גבי לוח וירטואלי. ניתן להשתמש בכלי זה כפתיחה
      וסיכום נושא, תיעוד ידע שנצבר או נלמד, סיעור מוחין, שיתוף מידע ועוד. Padlet מאפשר ליצור פתקיות
      על גבי לוח וירטואלי ולהוסיף להן מידע.
    </p>

    <a href="https://he.padlet.com/" target="_blank">לפרטים נוספים</a>
  </div>
  <div id="Edmodo" class="col-md-6 row" style="padding: 5%;">
    <h2>Edmodo</h2>
    <div class="col-md-12">
      <img src="/images/edmodo.png" alt="picture of instuctors" />
    </div>

    <p>
      Edmodo הוא יישומון המשמש כפלטפורמה שיתופית למורים, תלמידים והורים. כלי זה מאפשר חקירה משותפת,
      יצירת קבוצות, ניהול חידונים ולמידה ממורים בעלי צורת הוראה דומה.
    </p>

    <a href="https://new.edmodo.com/" target="_blank">לפרטים נוספים</a>
  </div>
  <div class="col-md-6 row" style="padding: 5%;">
    <h2>Base Camp</h2>
    <div class="col-md-12">
      <img src="/images/basecamp.png" alt="picture of instuctors" />
    </div>

    <p>
      כלי זה, המגיע מעולם העסקים, מאפשר למורים ומדריכים לנהל תהליכי למידה ופרויקטים עם קבוצות
      תלמידים שונות על גבי פלטפורמה אחת. סטודנטים העובדים על פרויקט יכולים לשמור את כל המסמכים
      והמשאבים שלהם ב- BaseCamp.
    </p>

    <a href="https://basecamp.com/" target="_blank">לפרטים נוספים</a>
  </div>
</div>
<!-- FOOTER -->
<%-include(`./partials/footer`) %>
