@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@800&display=swap');
html {
  scroll-behavior: smooth;
}

body {
  direction: rtl;
  font-family: 'Assistant', sans-serif;
  margin: 0 auto;
  position: relative;
  min-width: 350px;
  font-weight: 200;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-size: 18pt;
  width: 100%;
  max-width: 1920px;
}

img {
  vertical-align: middle;
  border-style: none;
  width: 50%;
  margin: 0 auto;
}

.scrolling-wrapper {
  max-width: 100%;
}

h2 {
  font-weight: 800;
  font-family: 'Assistant', sans-serif;
  color: #655959;
}

h3 {
  font-size: 16pt;
  background-color: rgb(68, 68, 68);
  padding: 2%;
  color: white;
  font-weight: bolder;
  display: inline-block;
  border-radius: 25px;
}

#header {
  background-color: aquamarine;
}

/* before::ul {
  background-image: url('/images/blueLi.svg');
  background-repeat: no-repeat;
}*/

.selected {
  background-color: cornflowerblue;
}

/*section img {
    width: 100%;
    height: auto;
}*/

#mobileLOGO {
  width: 80%;
  padding: 0 0;
  margin-left: 0;
}

.card-block h3 {
  font-weight: bolder;
  color: white;
}
.whatIs {
  background-image: url('/images/whatisbackgroung.svg');
  background-repeat: no-repeat;
  background-position-y: 50%;
  font-size: 1.5rem;
  padding: 1% 8%;
}
@media screen and (min-width: 760px) {
  .blendedSystemBg {
    background-image: url('/images/arrBackground.svg');
    background-repeat: no-repeat;
    background-size: 10%;
    background-position-x: 10vw;
  }
  .toolsBG {
    background-image: url('/images/toolsBG.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 450px;
    padding: 3%;
  }
  .aboutUsBG {
    background-image: url('/images/aboutUsBG.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 450px;
    padding: 3% 0;
  }
  .twoCirclesBg {
    background-image: url('/images/twoCircles.svg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: 20%;
  }
  .right45Bg {
    background-image: url('/images/arrRightBackground.svg');
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .whyBlend ul {
    list-style-type: none;
    line-height: 3vw;
    vertical-align: middle;
  }
  .whyBlend ul li:before {
    content: '';
    display: inline-block;
    height: 2vw;
    width: 2vw;
    background-size: 2vw;
    background-image: url('/images/blueLi.svg');
    background-repeat: no-repeat;
    margin-left: 1vw;
    padding: 1%;
    font-size: 16pt;
    font-weight: bold;
  }
  .card-block {
    min-height: 200px;
    min-width: 200px;
    padding: 10%;
  }
  .card {
    background-color: transparent;
    border: none;
  }
  .feedback img {
    width: 100%;
  }
  #aiAnswer img {
    width: 100%;
  }
  .big-icon {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  /*עיצוב הכפתור לינק*/
  .badge {
    width: 100%;
    height: 50px;
    bottom: 0;
    font-size: x-large;
  }
  .mid-icon {
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

hr {
  margin: 5% 0;
}

/*all media*/

h4::first-letter {
  font-size: 200%;
}

/*צבע טקסט שהוא קישור*/

.pInA {
  color: black;
}

/*תמונות בתוך טיזרים בעמוד ראשי*/

.col-md-4 img {
  width: 50%;
}

.col-12 {
  padding-top: 2%;
}

a {
  text-decoration: none !important;
  color: #faca16;
  font-weight: bolder;
}

a:hover {
  text-decoration: none !important;
  color: orange;
}

h5 {
  font-size: larger;
  color: black;
}

h3 {
  font-size: large;
}

.larger {
  font-size: larger;
}

/*קלאס שאומר לתמונה להיות בגודל מלא*/

.big-pic {
  width: 100%;
}

/*מרגין אליון ותחתון למודלים*/

.models {
  margin: 0 auto;
  font-weight: bolder;
}

/*h5 inside tools section centrelizing*/

.tools h5 {
  margin-left: auto !important;
  margin-right: auto !important;
}

.tools img {
  margin-left: auto !important;
  margin-right: auto !important;
}

/*ציר זמן*/

.timeLine {
  padding: 2%;
  font-size: large;
  font-weight: 400;
}

.timeLine b {
  font-size: large;
}

.modelsLine {
  text-align: center;
  width: 16.666% !important;
}

/*css for the back to top button*/

#goToTop {
  display: none;
  position: fixed;
  bottom: 1%;
  z-index: 99;
  outline: none;
  background-color: white;
  font-size: large;
  margin: 0 auto;
  color: black;
  cursor: pointer;
  opacity: 0.8;
  width: 100%;
  max-height: 50px;
  border: solid black 2px;
  border-radius: 25px;
  left: 0;
}

#goToTop:hover {
  color: #faca16;
  opacity: 1;
}

/*style for google api*/

#myGoogleMap {
  height: 100%;
}

/*logo icons design*/

.logo-icon {
  width: 50%;
}

/*footer design*/

#footer {
  padding-bottom: 5%;
  width: 100%;
  text-align: center;
}

/*כותרות של המאפיינים*/

@media screen and (min-width: 760px) {
  .ondeskhidden {
    display: none;
  }
}

@media screen and (max-width: 759px) {
  .onmobilehidden {
    display: none;
  }
}

/*#aiAnswer styling*/

#aiAnswer {
  font-size: large;
  font-weight: 400;
}

.carousel {
  width: 100%;
}

.carousel-item {
  width: 100%;
}

#headerBanner img {
  width: 100%;
}

/*btn-primary*/

.btn-primary {
  background-color: #6fc5d0;
  border-color: #6fc5d0;
}

.btn-primary:hover {
  background-color: #faca16;
  border-color: #faca16;
}

a .btn-primary:hover {
  background-color: #faca16;
  border-color: #faca16;
}

.btn-secondary:hover {
  background-color: #faca16;
  border-color: #faca16;
}

/*.badge-primary*/

.badge-primary {
  background-color: #6fc5d0;
  border-color: #6fc5d0;
  text-size-adjust: 80%;
}

a.badge-primary:focus,
a.badge-primary:hover {
  background-color: #faca16;
  border-color: #faca16;
}

/*blended system div styling*/

#blendedSystem {
  padding-right: 3%;
}

/*models => feedback*/

.feedback-items {
  padding: 10% 5%;
  border-radius: 15px;
  width: 100%;
  font-size: 12pt;
  margin: 0 auto;
}

.card-body {
  width: 80%;
  font-size: 12pt;
  border-radius: 15px;
  margin: 0 auto;
}

.centerIt {
  margin: 10% auto;
}

@media only screen and (orientation: landscape) {
  .container-fluid {
    min-width: 320px;
    padding: 0 0;
    width: 100%;
  }
  .model-item {
    background-color: #f5f5f5;
    padding: 2% 3%;

    font-size: 18px;
  }
  .paded-div {
    padding: 4%;
  }
  #goToTop {
    font-weight: bolder;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 20%;
    margin-left: 40%;
    overflow: hidden;
    display: inline-block;
    border: solid black 1px;
  }
}

@media only screen and (orientation: portrait) {
  #goToTop {
    font-weight: bolder;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    display: inline-block;
    border: none;
  }
  .model-item {
    background-color: #f5f5f5;
    min-height: 600px;
    font-size: 18px;
  }
  .paded-div {
    padding: 3%;
  }
}

.hidden {
  display: none;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 3%;
  font-size: 20px;
  color: red;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0);
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.bc-blue {
  background: linear-gradient(270deg, #416e81 9.76%, #6bbbc7 100%);
  color: #f5f5f5;
}

.bc-blue a {
  color: #f5f5f5;
}

.bc-yellow {
  background: linear-gradient(270deg, #fccb09 9.76%, #f1c20b 86.84%);
}

.bc-yellow a {
  color: #f5f5f5;
}

.bc-green {
  background: linear-gradient(270deg, #90c553 9.76%, #8bb161 100%);
}

.bc-green a {
  color: #f5f5f5;
}

.bc-grey {
  background-color: rgba(230, 230, 230, 0.31);
  color: black;
}

.bc-grey a,
.bc-grey h3 {
  color: black;
}

.carousel-control-prev-icon {
  background-image: url("data:images/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:images/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.posneg {
  margin: auto 0;
  width: 100%;
  font-size: large;
}

#facetoface {
  width: 100%;
}

.slide2CS {
  color: #90c553;
}

.slide2E {
  margin-right: 5%;
  color: #faca16;
}

.arrowdown {
  bottom: 0;
}

.arrowdown img {
  height: 150px;
  float: left;
  bottom: 30px;
}

/* [ON SMALL SCREENS] */

@media screen and (max-width: 760px) {
  .container-fluid {
    min-width: 320px;
    padding: 0 1;
    width: 100%;
  }
  h5 {
    font-size: xx-large;
    text-align: center;
  }
  .col-md-2 {
    width: 60%;
    margin: 2% auto;
  }
  .divNone {
    display: none !important;
  }
  .paded-div {
    padding: 6%;
    min-height: 85vh;
  }
  .badge {
    text-size-adjust: 80%;
    width: 100%;
    height: 50px;
    padding: 4%;
  }
  .col-md-2 {
    font-size-adjust: 50%;
    text-size-adjust: 95%;
  }
  .btn {
    font-size-adjust: initial;
    min-height: 80px;
  }
  #aiAnswer img {
    width: 50%;
  }
  .feedback img {
    width: 100%;
  }
  section img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .bc-grey {
    background-color: none;
  }
  .bg-primary {
    background-color: white;
  }
  .bg-primary .show {
    background-color: #007bff !important;
  }
  .big-icon {
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .mid-icon {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  h4 {
    text-align: center;
  }
  h4 a {
    color: #6fc5d0;
  }
  .timeLine {
    display: none;
  }
  .modelsLine {
    width: 100%;
  }
  .card-block {
    width: 100%;
    min-height: 30vh;
    min-width: 200px;
    text-align: center;
  }
}

.mobilepadding {
  padding: 2% 3%;
}

.mobileBtn {
  font-size: 22pt;
  margin: 5% auto;
  font-weight: 700;
  width: 100%;
}

.btn.disabled,
.btn:disabled {
  background-color: lightgray;
  border-color: lightgrey;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.scrolling-wrapper {
  overflow-x: auto;
}

.padeding3 {
  padding: 3%;
}

.padding100 {
  padding-top: 70%;
}

.custom-select {
  border: black 2px solid;
}

.arrows {
  width: 100%;
  min-height: 200px;
}

.tozar {
  width: 90%;
  margin: 0 auto;
}

.sticdownnav {
  position: fixed;
  /* Fixed/sticky position */
  bottom: 1%;
  /* Place the button at the bottom of the page */
  z-index: 99;
  /* Make sure it does not overlap */
  outline: none;
  /* Remove outline */
}

.marginCenter {
  margin: 0 auto;
}

.modelsPlate h2 {
  border-bottom: #faca16 solid 10px;
}

.alignCenter {
  text-align: center;
}

.boxShadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.roundedDiv {
  background-color: white;
  color: black;
  padding: 1%;
  margin: 1% 2%;
  text-align: center;
  border-radius: 15px;
}

.model-item h3 {
  margin-bottom: 2%;
  font: xx-large;
}

#feedback {
  color: black;
}

#feedback hr {
  margin: 0 0;
}

.tozarinItem {
  background-color: white;
  margin: 1% 1%;
}

.error-template {
  padding: 40px 15px;
  text-align: center;
}

.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}

.error-actions .btn {
  margin-right: 10px;
}

.background1 {
  background-repeat: no-repeat;
  background-image: url(/images/background1.png);
  background-size: 100%;
  margin: 0 auto;
}

/*video model*/

.modal-dialog {
  max-width: 800px;
  margin: 30px auto;
}

.modal-body {
  position: relative;
  padding: 0px;
}

.close {
  position: absolute;
  right: -30px;
  top: 0;
  z-index: 999;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  opacity: 1;
}

#showDescBtn {
  margin: 10% 2%;

  padding: 0 2%;
}
